{% extends "layout/layout.html"%}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">用户注册</div>
            <div class="panel-body">
                <div class="form-horizontal reg_wrap">
                    <div class="form-group">
                        <label for="nickname" class="col-sm-2 control-label">昵称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nickname" name="nickname" placeholder="请输入昵称~~">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="login_name" class="col-sm-2 control-label">登录用户名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="login_name" name="login_name" placeholder="请输入登录用户名~~">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="login_pwd" class="col-sm-2 control-label">登录密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="login_pwd" name="login_pwd" placeholder="请输入登录密码~~">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="login_pwd2" class="col-sm-2 control-label">确认登录密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="login_pwd2" name="login_pwd2" placeholder="请输入确认登录密码~~">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success btn-block do-reg">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
var member_reg_ops = {
    init:function(){
        this.eventBind();
    },
    eventBind:function(){
        $(".reg_wrap .do-reg").click( function(){
            var btn_target = $(this);
            if( btn_target.hasClass("disabled") ){
                common_ops.alert( "正在处理！！请不要重复点击~~" );
                return;
            }
            var nickname = $(".reg_wrap input[name=nickname]").val();
            var login_name = $(".reg_wrap input[name=login_name]").val();
            var login_pwd = $(".reg_wrap input[name=login_pwd]").val();
            var login_pwd2 = $(".reg_wrap input[name=login_pwd2]").val();
            if( login_name == undefined || login_name.length < 1 ){
                 common_ops.alert( "请输入正确的登录用户名~~" );
                return ;
            }

            if( login_pwd == undefined || login_pwd.length < 6 ){
                 common_ops.alert( "请输入正确的登录密码，并且不能小于6个字符~~" );
                return ;
            }

            if( login_pwd2 == undefined || login_pwd2 !=login_pwd ){
                common_ops.alert( "请输入正确的确认登录密码~~" );
                return ;
            }
            btn_target.addClass("disabled");
            $.ajax({
                url: "{% url 'reg' %}",
                type: "POST",
                data:{
                    nickname:nickname,
                    login_name:login_name,
                    login_pwd:login_pwd,
                    login_pwd2:login_pwd2,
                },
                dataType:'json',
                success:function( res ){
                    btn_target.removeClass("disabled");
                    var callback = null;
                    if( res.code == 200 ){
                        callback = function(){
                            window.location.href = "{% url 'login' %}";
                        };
                    }
                    common_ops.alert( res.msg,callback );
                }
            });

        } );
    }
};

$(document).ready( function(){
    member_reg_ops.init();
});
</script>
{% endblock %}

