<!-- 引入页面模板 -->
{% extends 'dailyoper/layout/daily_base_page.html' %}
{% load static %}

<!-- 修改标题 -->
{% block title %}
    表空间数据报表
{% endblock %}

<!-- 添加当前页面的CSS样式 -->
{% block css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap_v3/css/bootstrap.css' %}">
    <link type="text/css" rel="stylesheet" href="{%  static 'css/index.basic.css'%}">
{% endblock %}

<!-- 添加面包屑导航的名称 -->
{% block breadcrumb %}
    表空间数据报表
{% endblock %}

<!-- 添加当前页面的内容 -->
{% block content %}
    <section id="mon_result" style="margin-top: 30px">
    <div class="header-container">
         <header class="common-header">表空间数据报表</header>
    </div>
    <ul id="myTab" class="nav nav-tabs">
	<li class="active">
		<a href="#home" data-toggle="tab">表空间数据报表</a>
	</li>
</ul>
    <div id="myTabContent" class="tab-content">
	<div class="tab-pane fade in active" id="home">
        <div id="query_container" class="c1">
        <form id='form3'>
                <div>
                    <select id="ip3" name="ip3" class="form-control" style="width:160px;margin-right: 20px;">
                        <option selected="selected" disabled>--请选择</option>
                        {% for db in real_db_info %}
                        <option name="ip3">{{ db.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            <div style="line-height: 40px;">表空间名称：</div>
                <div>
                <select id="type3" name="type3" class="form-control" style="width:160px;margin-right: 20px;">
                        <option selected="selected" disabled>--请选择</option>
                        <option name="op1">TABLESPACESUPPORT</option>
                        <option name="op2">TABLESPACEINDEX</option>
                        <option name="op3">AUDITTBS</option>
                        <option name="op4">TABLESPACEHIST</option>
                        <option name="op4">TABLESPACEMES</option>
                    </select>
                </div>
            <div style="line-height: 40px;">时间：</div>
                <div>
                <select id="time3" name="time3" class="form-control" style="width:160px;margin-right: 20px;">
                        <option selected="selected" disabled>--请选择</option>
                        <option name="op1">7天</option>
                        <option name="op2">15天</option>
                        <option name="op2">30天</option>
                    </select>
                </div>
            <div><input type='button' class="btn get" value="查看" id="btn6" name="btn6" style="width:80px;margin-left: 120px;background-color: navy;color:#FFF"></div>
        </form>
    </div>
	</div>
</div>
    </section>
{% endblock %}

<!-- 添加当前页面的JS文件 -->
{% block js %}
    <script src="{% static 'js/common.js' %}"></script>
    <script>
        var member_dataparse_ops = {
            init: function () {
                this.eventBind();
            },
            eventBind: function () {
                $("#btn6").click(function () {
                    var btn_target = $(this);
                    if (btn_target.hasClass("disabled")) {
                        common_ops.alert("正在处理！！请不要重复点击~~");
                        return;
                    }
                    btn_target.addClass("disabled");
                    $.ajax({
                        url: "{% url 'tbs_result' %}",
                        type: "POST",
                        data: $('#form3').serialize(),
                        dataType: "json",
                        success: function (res) {
                            btn_target.removeClass("disabled");
                            var callback = null;
                            if (res.code == 200) {
                                callback = function () {
                                    var home = document.getElementById('home')
                                    var pic_result = document.getElementById('pic_result');
                                    if(pic_result == null){
                                        var new_pic_result = document.createElement('div');
                                        new_pic_result.setAttribute('id','pic_result');
                                        home.appendChild(new_pic_result);
                                    }else{
                                        pic_result.remove();
                                        var new_pic_result = document.createElement('div');
                                        new_pic_result.setAttribute('id','pic_result');
                                        home.appendChild(new_pic_result);
                                    }
                                    var mon_pic = document.createElement('img');
                                    mon_pic.setAttribute('id','mon_pic');
                                    var pic_path = '/static/pic/common.jpg' + '?tmp=' + Math.random();
                                    mon_pic.setAttribute('src',pic_path);
                                    new_pic_result.appendChild(mon_pic);
                                };
                            }
                            common_ops.alert(res.msg, callback);
                        }
                    });
                });
            }
        };
        $(document).ready(function () {
            member_dataparse_ops.init();
        });
    </script>
{% endblock %}